# Инструкции
task_instructions/

# База данных
*.db
*.sqlite
*.sqlite3
scheduler.db

# Бинарные файлы
/main
/final_project
*.exe

# Настройки окружения и секреты
.env

# Системные файлы
.DS_Store

# Настройки IDE
.vscode/
.idea/

# Файлы тестов Go
*.test
*.out